* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    .box-left {
        width: 250px;
        margin-left: 70%;
        margin-top: 30px;
        padding: 15px;
        img {
            width: 250px;
        }
        p {
            padding: 15px;
        }
    }
    .box-right {
        p, h3, h1 {
            padding: 15px;
        }
        margin-top: 30px;
       .h3 {
        width: 350px;
       }
    }
}